/*Source - https://stackoverflow.com/a/58441758*/
/*Posted by Wesos de Queso, modified by community. See post 'Timeline' for change history*/
/*Retrieved 2026-02-13, License - CC BY-SA 4.0*/
/*Modified from source*/

.root {
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    /* -fx-base: #0f1010; */
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.label{
    -fx-text-fill: lightgray;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.text-area {
    -fx-prompt-text-fill: rgb(195, 195, 195);
}

.titulo{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button{
    -fx-focus-traversable: false;
}

.button:hover{
    -fx-text-fill: white;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-pane .viewport {
    -fx-background-color: -fx-control-inner-background;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

.button:default {
    -fx-base: -fx-accent ;
}

.table-view{
    /*-fx-background-color: derive(-fx-base, 10%);*/
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.list-cell:odd,
.table-row-cell:odd{
    -fx-control-inner-background: derive(-fx-base, 18%);
}

.list-cell:even,
.table-row-cell:even{
    -fx-control-inner-background: derive(-fx-base, 12%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}

.popover > .content {
    -fx-background-color: derive(-fx-base, 35%);
}

/*.popover > .border {*/
/*    -fx-background-color: black;*/
/*    -fx-fill: black;*/
/*}*/

.popover  {
    -fx-background-color: transparent;
}

.popover > .border {
    -fx-stroke: linear-gradient(to bottom, rgba(0,0,0, .3), rgba(0, 0, 0, .7)) ;
    -fx-stroke-width: 1;
    -fx-fill: derive(-fx-base, 35%);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 10.0, 0.5, 2.0, 2.0);
}

.popover > .detached {
}

.popover > .content > .title > .text  {
    -fx-text-fill: lightgray;
}

.popover > .content > .title > .icon > .graphics > .circle {
    -fx-fill: black ;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,.2), 3, 0.5, 1.0, 1.0);
}

.popover > .content > .title > .icon > .graphics > .line {
    -fx-stroke: lightgray ;
    -fx-stroke-width: 2;
}

.toggle-switch > .thumb-area {
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
        derive(-fx-base, 18%);
}

.toggle-switch:selected > .thumb-area {
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
        linear-gradient(to bottom, derive(#0b99c9, 30%), #0b99c9);
}